
        * {
            margin: 0;
            padding: 0;
        }

        .body {
            height: 100%;
            width: 100%;
            background-color: #eff2f5;
        }

        .footer {
            height: 20%;
            width: 100%;
            background-color: #ffffff;
        }

        .first {
            background-color: #eff2f5;
            height: 100%;
            width: 50%;
            float: left;
            align-content: center;
        }

        .second {
            background-color: #eff2f5;
            height: 100%;
            width: 50%;
            float: right;

        }

        .first>h1 {
            font-size: 50px;
            margin-left: 27%;
            margin-top: 30%;
            width: 51%;
            color: blue;
            font-style: initial;
        }

        .first>h2 {
            margin-left: 27%;
            font-size: 30px;
        }

        .third {
            height: 45%;
            width: 58%;
            margin-left: 16%;
            margin-top: 20%;
            background-color: #ffffff;
            box-shadow: 2px 2px 5px 5px rgb(233, 231, 231);
            border-radius: 10px;
            padding: 20px 20px 20px 20px;
            text-align: center;
        }

        .cr {
            margin-left: 20%;
            margin-top: 4%;
        }

        .form-first {
            /* margin-top: 20px; */
        }
        input{
            width: 100%;
            height: 45px;
            margin-bottom: 17px;
            border-radius: 10px;
            border-width: 1px;
            font-size: 18px;
        }
        .pading{
            padding-left: 20px;
        }
    